/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .img {
   max-width: 900px;
   height: 80%
 }

 .title {
   position: fixed;
   font-family: sans-serif;
   font-style: italic;
   font-weight: bolder;
   color: #b30000;
   top: 70%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 40px
  }

.centered {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* For Mobile */
 @media only screen and (max-device-width: 480px) {

   .img {
     width: 90%;
     max-height: 50%;
   }

   .title {
     font-size: 70px
    }
  }
